.Navigation{
	width:100%;
	height:600px;
	padding-top:100px;
	padding:20px !important;
	.mainHeader{
		margin-top: 20px!important;
	}

	.contentMenu{
		width:100%;
	}
	// .contentMenuItem{
	// 	// position:relative;
	// }
	.year{
		margin:20px;
	}

	.Generated{
		width:100%;
		height:300px;
		
	}
	.Navigation-options{
		overflow-y:auto;
		height:100%;
	}

}