.Canvas-title-container {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.Canvas-event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Canvas-hashtag {
    padding-right: 15px;
}

.Canvas-title {
    font-size: 32px;
}
